.app-header {
    display: flex;
    flex-direction: row;
    padding: var(--padding-s);

    justify-content: space-around;
    /* align-items: center; */
}

.header-left {
}

.header-center {
    flex-grow: 1;
    margin-block-start: var(--margin-xxl);
    margin-block-end: var(--margin-m);
}

.menu-toggle {
    background-color: var(--background-color);
    width: calc(150px - var(--padding-m));
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: var(--padding-m);
}

.hamburger {
    width: 25px;
    vertical-align: middle;
}

/* .menu-toggle:hover,
.menu-toggle:focus {
    border-color: var(--background-color);
} */

.app-title {
    margin-block: var(--margin-m);
}

.search-form {
    margin-block: var(--margin-s);
    margin-inline: var(--margin-s);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--padding-m);

    height: 2.75rem;
}

.search-bar {
    flex-grow: 1;
    max-width: 50ch;
    height: 2rem;

    border: solid 0.5px var(--border-color);
    border-radius: var(--border-radius);
    padding-block: var(--padding-s);
    padding-inline: var(--padding-l);
    margin-block: var(--margin-l);
    font-weight: normal;
    transition: font-weight 0.3s ease;
}

.search-bar:focus-within {
    outline: none;
    border-color: var(--border-color-focused);
    font-weight: bold;
}
