.sidebar {
    width: 150px;
    transition:
        margin-left 0.3s ease,
        width 0.3s ease;
    overflow-y: auto;
    z-index: 10;
    flex-shrink: 0; /* Prevent sidebar from shrinking */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar.open {
    margin-left: 0;
}

.sidebar.closed {
    margin-left: -150px;
}

.sidebar > nav {
    display: flex;
    flex-direction: column;
    gap: var(--padding-s);
    padding: var(--padding-m);
}

.label {
    margin-inline-start: var(--margin-m);
}
